@value colors: "../../variables/colors.css";
@value light from colors;
@value medium from colors;
@value battle from colors;
@value breakpoints: "../../variables/breakpoints.css";
@value mobile from breakpoints;

.parent {
  background-color: light;
  display: flex;
}
.left{
  margin: 0 30px 0 20px;
}
.middle{
  flex-grow: 3;
}
.right{
  flex-grow: 1;
}